body {
    overflow: hidden;
}

@font-face {
    font-family: "Avenir Black";
    src: url("./fonts/Avenir-Black.ttf");
    src: url("./fonts/Avenir-Black.ttf") format("ttf")
}
@font-face {
    font-family: "Avenir Book";
    src: url("./fonts/Avenir-Book.ttf");
    src: url("./fonts/Avenir-Book.ttf") format("ttf")
}
@font-face {
    font-family: "Avenir Heavy";
    src: url("./fonts/Avenir-Heavy.ttf");
    src: url("./fonts/Avenir-Heavy.ttf") format("ttf")
}
@font-face {
    font-family: "Avenir Regular";
    src: url("./fonts/Avenir-Regular.ttf");
    src: url("./fonts/Avenir-Regular.ttf") format("ttf")
}
@font-face {
    font-family: "Avenir Light";
    src: url("./fonts/Avenir-Light.ttf");
    src: url("./fonts/Avenir-Light.ttf") format("ttf")
}

.prompt {
    height: 125px;
    width: 350px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Avenir Heavy";
    background-color: '#017877';
    overflow: hidden;
}

.currentPrompt {
     animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.inactivePrompt {
    display: none !important;
    /* font-family: "Avenir Heavy"; */

}
.btn-std {
    border-radius: 15px;
    height: 40px;
    width: 60px;
    background-color: '#48abe0';
    /* margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2px; */
    font-family: "Avenir Heavy";
    font-size: 16px;
    color: #dabb08;
    /* -webkit-text-stroke: 0.5px black; */
    background: #698869;
    box-shadow: 0 0 10px 3px #698869;
}
.btn-submit {
    border-radius: 25px;
    height: 40px;
    width: 245px;
    margin-top: 30px;
    font-family: "Avenir Heavy";
    font-size: 18px;
    background: #dabb08;
    box-shadow: 0 0 21px 7px #dabb08;
}
.btn-std:hover {
    background: #a5b7a5 !important;
}
.btn-submit:hover {
    background: #ecdd83 !important;
}
.btn-back {
    border-radius: 25px;
    height: 40px;
    width: 35px;
    margin-left: 15%;
    margin-right: 2px;
    margin-bottom: 2px;
    font-family: "Avenir Heavy";

}
.btn-reset {
    border-radius: 25px;
    height: 40px;
    width: 35px;
    margin-right: 15%;
    margin-left: 2px;
    margin-bottom: 2px;
    font-family: "Avenir Heavy";

}

.progressText {
    margin-top: 23.5px;
    margin-bottom: 25px;
    font-family: "Avenir Heavy";
    margin-left: 2%;
    margin-right: 2%;

}

.labelText {
    margin-top: 25px;
    margin-bottom: 7px;
    font-family: "Avenir Heavy";
    color: #dabb08;
    -webkit-text-stroke: 0.25px black;

    width: 245px;
    font-size: 18px;
    
}

.entry {
    margin-top: 15px;
    border-radius: 5px;
    font-family: "Avenir Heavy";
    min-width: 245px;
}
.entry:focus {
    border: #dabb08 solid 3.5px;
    box-shadow: 0 0 50px 6px #dabb08;
    
}

input.entry {
    font-family: "Avenir Heavy";
    width: 175px;
    font-size: 16px;
    max-height: 25px;
}
textarea.entry {
    height: 25px;
    font-size: 16px;
    font-family: "Avenir Heavy";
}
.flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 175px;
    font-family: "Avenir Heavy";
    margin-left: 20%;
    /* margin-right: 10%; */
    margin-top: -40px;
}

.radio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 14px;
    border-radius: 15px;
    margin-top: 15px;
    width: 175px;
    font-family: "Avenir Heavy";
    box-shadow: 0 0 50px 6px #dabb08 !important;
    border: #dabb08 solid 0px;

    /* margin-left: 2%; */
    /* margin-right: 10%; */
    /* margin-top: -65px; */
}
.radioText {
    color: #dabb08 !important;
    font-size: 18px !important;
    font-family: "Avenir Heavy" !important;
    -webkit-text-stroke: 0.15px black;

}
.flex-itemRow {
    font-size: 18px;
    font-family: "Avenir Heavy";
}

@media only screen and (max-width: 600px) {
    .labelText, .entry, .btn-submit, .flex-itemROw  {
        font-size: 14px !important;
    }
}